@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.title {
    margin-top: 40px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    color: #293264;
}

.home{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: start;
    justify-content: center;
    background-color: #F5F7FB;
}

.home-content {
    height: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.inputs input[type=number] {
    margin-bottom: 5px;
    border-radius: 15px;
    width: 288px;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px black solid;
    color: #293264;
}

.inputs input[type=number]:hover {
    background: #D6DBF5;
}

.inputs input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputs input[type=submit] {
    margin-top: 5px;
    border-radius: 15px;
    width: 300px;
    height: 35px;
    font-size: 16px;
    border: 0;
    color: #F5F7FB;
    background: #4D5B9E;
}

.inputs select {
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
    width: 300px;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px black solid;
    color: #293264;
}

.inputs select:hover {
    background: #D6DBF5;
}

.answers {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10%;
}

.questions-and-answers h1 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 26px;
}

.home-content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #4D5B9E;
}


.inputs h3 {
    font-size: 16px;
    justify-content: left;
    color: black;
    margin-bottom: 1px;
    margin-top: 5px;
}

.answers button {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
    border: 0.794px solid #4D5B9E;
    text-align: center;
    height: 20px;
    border-radius: 8px;
    font-size: 14px;
    padding: 16px;
}

.answers button:hover {
    background-color: #D6DBF5;
    cursor: pointer;
}

.answers button:disabled {
    cursor: default;
    background-color: #D6DBF5;
    border: 0;
}

.line {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 1px;
    background: #000000;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.check h4{
    color: #F5F7FB;
    border-radius: 8px;
    padding: 14px 20px 14px 20px;
    background-color: #4D5B9E;
}

.check h4:hover {
    cursor: pointer;
}

.answers-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.answers-show h3 {
    color: #293264;
    font-size: 20px;
}

.answers-show h4 {
    color: #F5F7FB;
    border-radius: 8px;
    padding: 14px 20px 14px 20px;
    background-color: #4D5B9E;
    margin-left: 1%;
}

.answers-show h4:hover {
    cursor: pointer;
}